.blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Blog - My Blog</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->	
                <article id="post-1" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-1.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4>Depression</h4>
                                                        <p>Depression is a common and serious medical illness that negatively affects how you feel, the way you think and how you act.</p>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/blog-2.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4>Stress</h4>
                                                        <p>Stress is a state of mental or emotional strain or tension resulting from adverse or demanding circumstances.</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-3.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4>Entrepreneur</h4>
                                                        <p>An entrepreneur is an individual who, rather than working as an employee, founds and runs a small business, assuming all the risks and rewards of the venture.</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >Why Entrepreneurship Involves Depression</a></div>
                                            <!-- <div class="clear"></div> -->
                                        </div>

                                        <ul class="info">                                            
                                            <li><i class="glyphicon glyphicon-time"></i> March 23, 2019</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Alejandro Cremades</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> Entrepreneurs</li>
                                        </ul>
                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> Sooner or later as an entrepreneur, you are going to face off against depression. At least the odds are extremely high. Those that deny it are probably hiding it or still in denial. It’s a virtually guaranteed part of entrepreneur life. The good news is that just knowing this gives you a huge edge going in...</p></div>
                                    </div>
                                </div>	

                                <a href="#post-1" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->

                <div class="clear"></div>

                <div class="clear"></div>

            </section>

            <!-- End Page Blog -->

            <!-- Page Blog - Post 1 -->
            <section id="post-1-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                                <li data-target="#carousel-2" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-1.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        <h4>Deression</h4>
                                                        <p>Depression is a common and serious medical illness that negatively affects how you feel, the way you think and how you act.</p>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/blog-2.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        <h4>Stress</h4>
                                                        <p>Stress is a state of mental or emotional strain or tension resulting from adverse or demanding circumstances.</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-3.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        <h4>Entrepreneur</h4>
                                                        <p>An entrepreneur is an individual who, rather than working as an employee, founds and runs a small business, assuming all the risks and rewards of the venture.</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="title_content">
                                <div class="text_content">Why Entrepreneurship Involves Depression</div>
                                <div class="clear"></div>
                            </div>

                            <p class="caps">If you’re headed into entrepreneurship, get ready to be depressed. Here’s how to get through it…</p>

                            <p>Sooner or later as an entrepreneur, you are going to face off against depression. At least the odds are extremely high. Those that deny it are probably hiding it or still in denial. It’s a virtually guaranteed part of entrepreneur life. The good news is that just knowing this gives you a huge edge going in.</p><br>

                            <p><b>Why You’ll Have to Confront Depression as an Entrepreneur</b></p>
                            <p>Whether it is before, during or after exiting a company, depression is likely to rear its head at the worst time. Yet, if you can make it through it, the silver lining can be far more rewarding than you planned.</p>

                            <p><b>Reasons entrepreneurs get depressed include:</b></p>
                            <ul>
                                <li>- Empty successes</li>
                                <li>- Naturally being prone to high levels of anxiety</li>                                
                                <li>- Difficulty not feeling in control</li>
                                <li>- Large numbers of investor rejections</li>
                                <li>- Stress and long working hours leading to burnout</li>
                                <li>- Being sabotaged by partners, staff or investors</li>
                                <li>- Being fired from your own company</li>
                                <li>- Struggles gaining and maintaining traction</li>
                            </ul>
                            <br>
                            <p>The depression can be moderate and fleeting. Or it can be personally bankrupting and lead to a deep dive into bad habits, homelessness, and may take many years to recover from. Some don’t at all.</p><br>
                            <p><b>Entrepreneurs are:</b></p>
                            <ul>
                                <li>- 2x more likely to suffer from depression</li>
                                <li>- 6x more likely to have ADHD</li>
                                <li>- 3x more likely to struggle with addiction</li>
                                <li>- 11x more likely to receive a bipolar diagnosis</li>
                            </ul>
                            <br>
                            <p>On the bright side here are nine ways to conquer depression as an entrepreneur.</p><br>
                            <p><b>(1) Anticipate & Prepare</b></p>

                            <p>Know the risks, be aware of the signs, and have a plan to prevent and deal with it. Positive self-talk and listening to old motivational content is great until you just don’t feel like you can face hearing it. Have some real go-to resources and solutions. Begin with realistic expectations. If you go in expecting to fail, or better, realizing that there is no such thing as failure, only learning opportunities, you can help vaccinate yourself in advance.</p><br>

                            <p><b>(2) Have a Strong Support Network</b></p>

                            <p>The worst thing you can probably do is to be alone. Have advisors, coaches, friends, and family lined up in advance. People you can be transparent with. People you don’t have to put on a false front to. Then recognize that being open about what you are feeling is actually a strength and the best positive action you can take.</p>

                            <p>I have the pleasure of interviewing some of the most successful entrepreneurs on the DealMakers Podcast. One of my recent guests was Rick Stollmeyer, cofounder of MINDBODY. He built the company out of his garage and recently sold it for over $1.9 billion. During the interview, Rick discussed some of the great reflections that he was able to share with his wife during the journey (listen to the full episode here).</p><br>

                            <p><b>(3) Sleep</b></p>

                            <p>There will be weeks that you may be so busy you won’t sleep for days. That may be a part of the job, but it isn’t healthy. Sleep is super important. It may be the single most important secret to success as an entrepreneur. It will help you perform better. It protects your mood and mental state.</p>

                            <p>I recently interviewed Martin Rawls-Meehan, founder of Reverie. He bootstrapped his mattress company without financing to over $100 million in revenue. During the interview, he talks about the industry and why sleep is more important than anything else in order to take care of ourselves (listen to the full episode here).</p><br>

                            <p><b>(4) Take Time Out</b></p>

                            <p>You are not your business. It’s just something you are experimenting with for a part of your journey. It’s not the essence of your DNA and identity. Hire great people. Give yourself a break when you need it. Take a day, weekend, week, or even two months if you need it. That’s a lot better than the alternative.</p>

                            <p>Chances are that your business will still be there when you get back. Even if it isn’t, you’ll still live. Though since we entrepreneurs are terrible break takers, it may even be smarter to give someone else a red card they can throw down and call a timeout for you when they see the signs you might not.</p><br>

                            <p><b>(5) Eat Smart</b></p>

                            <p>Food is the best preventative and curative medicine. Or your worst poison. Be very self-aware. You don’t have to go on any crazy or strict diets. Just learn what you are consuming so it doesn’t affect your mood or mental state.</p><br>

                            <p><b>(6) Exercise and Meditation</b></p>

                            <p>Exercise or meditation is perhaps second to diet when it comes to natural medicine. Healthy body, healthy mind. Again, you don’t have to go to the gym or compete in endurance races and win medals to make it work for you. Some of the serial entrepreneurs who have enjoyed the most longevity and success simply enjoy getting outdoors for a walk each day. It can do wonders for your mindset.</p><br>

                            <p><b>(7) Journal</b></p>

                            <p>Journaling is a great way to keep things in perspective. It’s a superb reference for how far you’ve come, what you’ve managed to survive before and to put your current situation in light of the big and long game.</p><br>

                            <p><b>(8) Look Outside of Yourself</b></p>

                            <p>If you only focus on yourself it is easy to fall into a victim of depression. One of the fastest cures is to turn things around and focus on others. Who else is in a worse position than you? Someone has it worse. Someone has been through the same trials and ordeals and has achieved far more than most people.</p>

                            <p>A good example of someone that was able to turn things around was Todd Olson. One of his first ventures failed due to market conditions. He was at one point in acquisition talks and things fell apart last minute. Given the short runway they had with cash in the bank to support operations, his company ended up shutting down. He learned from this and is now building his next company where he has raised over $100 million from some of the most respected investors (listen to the full episode here).</p><br>

                            <p><b>(9) Medication</b></p>

                            <p>Obviously, we’ve all been made starkly aware of some of the downsides of running straight to some form of medication at the slightest sign of resistance. However, entrepreneurs should never forgo help when they need it. This is especially true of those who have dealt with depression before and over long periods. It may just take talking to a professional or it could mean medication for physiological issues you’ve been battling for your whole life.</p><br>

                            <p>We need you out there innovating and leading. Don’t pass up the help that’s there to get you in the best zone of your life!</p>

                            <div class="col-md-12 first">
                                <!-- <div class="info">
                                    <div>
                                        <span class="tag">#Entrepreneur</span>                                       
                                    </div>                                    
                                </div> -->

                                <div class="clear"></div>      
                                <div class="col-md-12" style="margin-top: 20px;">
                                    <a href="#post-2" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <a href="#" class="readmore disabled" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                                </div>

                                <!-- <div class="clear"></div> -->

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <!-- End Page Blog - Post 1 -->
                        
        </div>
    </div>
</div>
                                            </div>
                                            <!-- End .blog